<%= form_for @Class do |c|%>
<table>
	<tr>
		<td>課程名稱</td>
		<td><%=c.text_field :name%></td>
	</tr>
	<tr>
		<td>授課老師</td>
		<td><%=c.text_field :teacher%></td>
	</tr>
	<tr>
		<td>上課地點</td>
		<td><%=c.text_field :place%></td>
	</tr>
	<tr>
		<td>上課時間</td>
		<td><%=c.text_field :time%></td>
	</tr>
	<tr>
		<td>學分數</td>
		<td><%=c.text_field :score%></td>
	</tr>
	<tr>
		<td colspan="2"><%=c.submit%></td>
	</tr>					
</table>
<% end %>