<%= form_for @Class do |c|%>
<table>
	<tr>
		<td><%=c.label :name%></td>
		<td><%=c.text_field :name%></td>
	</tr>
	<tr>
		<td><%=c.label :teacher%></td>
		<td><%=c.text_field :teacher%></td>
	</tr>
	<tr>
		<td><%=c.label :place%></td>
		<td><%=c.text_field :place%></td>
	</tr>
	<tr>
		<td><%=c.label :time%></td>
		<td><%=c.text_field :time%></td>
	</tr>
	<tr>
		<td><%=c.label :score%></td>
		<td><%=c.text_field :score%></td>
	</tr>
	<tr>
		<td colspan="2"><%=c.submit%></td>
	</tr>					
</table>
<% end %>