<h1>課程查詢系統</h1>

<%= form_tag classselects_path,method: :get do %>
<div>
	課程名稱 : <%= text_field_tag :name %>
	授課教師 : <%= text_field_tag :teacher %>
	上課時間: <%= text_field_tag :time %>
	<%= submit_tag "查詢" %>
</div>
<% end %>

<hr>
<div id="nav">
	<div id="new">
		<%= link_to "新增",  new_classselect_path %>
	</div>&nbsp;
	<div id="home">
		<%= link_to "回列表", classselects_path %>
	</div>
</div>

<table>
	<tr>
		<th width="20%">課程名稱</th>
		<th width="20%">授課教師</th>
		<th width="20%">上課地點</th>
		<th width="20%">上課時間</th>
		<th width="20%">學分數</th>
		<th width="20%">課程管理</th>
	</tr>
<% @Class.each do |c| %>
	<tr align="center">
		<td><%=c.name%></td>
		<td><%=c.teacher%></td>
		<td><%=c.place%></td>
		<td><%=c.time%></td>
		<td><%=c.score%></td>
		<td><%= link_to "刪除", c, method: :delete %>&nbsp;<%= link_to "編輯", edit_classselect_path(c) %></td>
	</tr>

<% end%>
</table>